@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
body{ margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; font-family:'Droid Sans', sans-serif; font-size:16px;}
.h2-from {
    font-family: 'Droid Sans', sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    color: #FFF;
}

.credit-card-form-wrapper{ color:#FFF;
    width: 98%;
    margin: auto;
    padding: 10px;
    background: #0e79b9;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;}
	.new-input-box { margin-top:25px;
    float: left;
    width: 24%;
    margin-left: 6px;
}
.ccdob{ width:31%; height: 35px;
    -moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    border: none;
    text-align: left;
    text-indent: 3px;
    color: #333;
    font-size: 12px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border-radius: 7px;
    outline: none;
    padding: 3px 0px 0px 0px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;}
	
	.ccdob:focus{ width:31%; height: 35px;
    -moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	border: none;
	text-align: left;
	text-indent:3px;
	color: #333;
	font-size: 12px;
	box-shadow: 0 0 10px #fccb2a;
	padding: 3px 0px 0px 0px;
	margin: 5px 1px 3px 0px;
	border-radius: 7px;
	border: 1px solid rgba(81, 203, 238, 1);}
.d4l-input {
    width: 100%;
    height: 35px;
    -moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    border: none;
    text-align: left;
    text-indent: 7px;
    color: #333;
    font-size: 16px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border-radius: 7px;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}


.d4l-input:focus{width:100%;
	height: 35px;
	-moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	border: none;
	text-align: left;
	text-indent: 7px;
	color: #333;
	font-size: 16px;
	box-shadow: 0 0 10px #fccb2a;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border-radius: 7px;
	border: 1px solid rgba(81, 203, 238, 1);}

.d4l-select {
       width:100%;
    height: 35px;
    moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    border: none;
    text-align: left;
    text-indent: 7px;
    color: #333;
    font-size: 16px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    border-radius: 7px;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

.d4l-select:focus {
       width:100%;
    height: 35px;
    -moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	border: none;
	text-align: left;
	text-indent: 7px;
	color: #333;
	font-size: 16px;
	box-shadow: 0 0 10px #fccb2a;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border-radius: 7px;
	border: 1px solid rgba(81, 203, 238, 1);
}

.cctc-text{ font-size:11px;}
.ccget-quotebtn {
    background: #06b2a0;
    border: solid 2px #FFF;
    height: 39px; float:right;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    margin-right: 20px;
    margin-bottom: 5px;}
.leftcc-form{ float:left; margin-right:10px;}
input[type=radio].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
input[type=radio].css-checkbox + label.css-label {
	padding-left: 25px;
	height: 20px; text-align:left;
	display: inline-block;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	color: #FFF;
	font-size:14px;
	margin-top: 5px;
	cursor: pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -20px;
}
label.css-label {
	background: url(../images/css-radio.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input[type=checkbox].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
input[type=checkbox].css-checkbox + label.css-label-check {
	padding-left: 26px;
	height: 22px;
	display: inline-block;
	line-height: 22px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	color: #FFF;
	cursor: pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label-check {
	background-position: 0 -22px;
}
label.css-label-check {
	background-image: url(../images/csscheckbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.d4l_inner_wp-wrapper{ width:100%;}

.form-input {
	width: 85%;
	height: 28px;
	-moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	border: none;
	text-align: left;
	text-indent: 7px;
	color: #333;
	font-size: 16px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	border-radius: 7px;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #DDDDDD;
}
@media screen and (max-width: 680px){
	.credit-card-form-wrapper{ color:#FFF;
    width: 100%;
    margin: auto;
    padding: 10px;
    background: #0e79b9;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;}
	.new-input-box { margin-top:25px;
    float:none;
    width:100%;
    margin-left:0px;
}
.d4l-input {    width: 100%;
    height: 35px;
    -moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    border: none;
    text-align: left;
    text-indent: 7px;
    color: #333;
    font-size: 16px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border-radius: 7px;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
.ccget-quotebtn {
    background: #06b2a0;
    border: solid 2px #FFF;
    height: 39px; float:none;
	margin:auto;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    margin-right: 20px;
    margin-bottom: 5px; margin-top:15px;}
.d4l-select {width:100%;  height: 35px;
    moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
    border: none;
    text-align: left;
    text-indent: 7px;
    color: #333;
    font-size: 16px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    border-radius: 7px;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;}	}