@charset "utf-8";
/* CSS Document */
body{ margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; background:url(images/home-loans-bodybg.jpg) repeat;}
.header{ width:100%; height:75px; background:#FFF; border-bottom:#CCC solid thin;}
.headerinn{ width:1000px; margin:auto;}
.logo {
width: 152px;
margin-bottom: 15px;}
.hlboxbtn{ width:368px; float:left; border-radius:5px; text-align:center; font-family:Tahoma, Geneva, sans-serif; color: #FFF; font-size:18px; font-weight:bold; margin-top:150px; margin-left:100px;}
.hlboxbtn2{ width:368px; float:left; border-radius:5px; text-align:center; font-family:Tahoma, Geneva, sans-serif; color: #FFF; font-size:18px; font-weight:bold; margin-top:150px; margin-left:10px;}
.orbox{ float:left; width:30px; margin-top:230px; font-family:Verdana, Geneva, sans-serif; font-weight:bold;}
.second-container{ width:1000px; margin:10px auto;} 
@media screen and (max-width: 768px) {
.header{ width:100%; height:75px; background:#FFF; border-bottom:#CCC solid thin;}
.headerinn{ width:100%; margin:auto;}
.logo {width: 152px;
margin-bottom: 15px;}
.hlboxbtn{ width:368px; border-radius:5px; text-align:center; font-family:Tahoma, Geneva, sans-serif; color: #FFF; font-size:18px; font-weight:bold; float:none; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; }
.hlboxbtn2{ width:368px; border-radius:5px; text-align:center; font-family:Tahoma, Geneva, sans-serif; color: #FFF; font-size:18px; font-weight:bold; float:none; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
.orbox{width:100%;  font-family:Verdana, Geneva, sans-serif; font-weight:bold; text-align:center; margin:0px 0px 0px 0px; }
.second-container{ width:100%; margin:10px auto;} 
}