@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
body{ margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
.form-rightwp{ float:left; width:268px; padding:10px 5px 10px 5px; background:#0f8eda; font-family:'Droid Sans', sans-serif; font-size:16px; color:#FFF;}
.span1{ padding:1px; background:#fc9605; color:#FFF; font-size:17px;}
.span2{ padding:1px; background:#03a1a7; color:#FFF; font-size:17px;}
.span3{ padding:1px; background:#ff4200; color:#FFF; font-size:17px; margin-left:5px;}
.span4{ padding:1px; background:#044573; color:#FFF; font-size:17px; margin-left:0px;}
.span5{ padding:1px; background:#fc7305; color:#FFF; font-size:17px; margin-left:2px;}
.select-loans-wp{ width:95%; height:33px; border-radius:5px; font-size:17px; color:#066a60; font-weight:300; border:none;}
.select-loans-wp-b{ width:93%; height:33px; border-radius:5px; font-size:17px; color:#066a60; font-weight:300; border:none;}

.input-loans-wp{ width:92%; height:33px; border-radius:5px; font-size:17px; color:#066a60; font-weight:300; border:none;}
.mobo-wp-new{ float:left; width:25px; height:33px; border-radius:5px; border:none; line-height:25px; padding:5px 5px 0px 5px;}
.mobo-wp-new2{ float:left; width:70%; height:33px; border-radius:5px; border:none; margin-left:5px;}
.form-rightwp td th{ border:none!important;} 
.get-quotebtn { float:right; margin-right:15px;
  background: none repeat scroll 0 0 #ffc017;
  border: 2px none;
  border-radius: 5px;
  font-size: 16px;
  height: 39px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 110px;
}
.hintanchorqa {
  font-size: 12px;
  color: #D50000;
  background: #FFF;
  padding: 0px 5px 0px 5px;
  margin-top: 3px !important;
  width: 100%;
}
