@charset "utf-8";
/* CSS Document */
body{ margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
.header{ width:100%; height:81px; background:#ffc117;} 
.headerinn{ width:1000px; margin:auto;} 
.logo{ float:left; width:150px; margin-top:10px;} 
.second-wrapper{ width:1000px; margin:10px auto;}
.headtext{ font-family:Verdana, Geneva, sans-serif; font-size:22px; color:#000000; margin-top:20px; margin-left:25px;}
.form{ float:left; width:499px; padding:20px 10px 20px 10px; border-radius:10px; background:#f2f3f3; margin-left:25px; margin-top:20px;}
.form-text{ font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#0e0e0e;}
.input{ width:280px; height:20px; border-radius:5px; border:#cfcfcf solid thin;}
.mobo{ width:245px; height:20px; border-radius:5px; border:#cfcfcf solid thin;}
.select{ width:280px; height:25px; border-radius:5px; border:#cfcfcf solid thin;}
.right{ float:right; width:431px; margin-top:20px; margin-right:5px;}
.right-deadtext{ font-family:Verdana, Geneva, sans-serif; font-size:15px; color:#000; text-align:center;}
.right-subtext{ font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#000; text-align:center;}

@media screen and (max-width: 768px){
.header{ width:100%; height:81px; background:#ffc117;} 
.headerinn{ width:100%; margin:auto;} 
.logo{ float:left; width:150px; margin-top:10px;} 
.second-wrapper{ width:100%; margin:10px auto;}
.headtext{ font-family:Verdana, Geneva, sans-serif; font-size:22px; color:#000000; margin-top:20px; margin-left:25px;}
.form{width:95%; padding:20px 10px 20px 10px; border-radius:10px; background:#f2f3f3; margin:10px 0px 0px 0px;}
.form-text{ font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#0e0e0e;}
.input{ width:95%; height:20px; border-radius:5px; border:#cfcfcf solid thin;}
.mobo{ width:95%; height:20px; border-radius:5px; border:#cfcfcf solid thin;}
.select{ width:95%; height:25px; border-radius:5px; border:#cfcfcf solid thin;}
.right{width:98%; margin-top:20px; margin-right:5px;}
.right-deadtext{ font-family:Verdana, Geneva, sans-serif; font-size:15px; color:#000; text-align:center;}
.right-subtext{ font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#000; text-align:center;}

}
