.sbi-hl_wraper_box{ margin:auto; width:970px;}
.sbi-hl_left_box{ float:left; width:950px;   margin-top:10px;}
.sbi-hl_content_box_a{ float:left; width:950px;  margin-left:5px; margin-top:15px;}
.sbi-hl_right_box{ float:right; width:290px;  margin-right:20px; border-radius:7px 7px 7px 7px;}
.sbi-hl_headin_title{ border-bottom:thin solid #88a943;  font-size:35px; font-family:Verdana, Geneva, sans-serif; color:#88a943;}
.sbi-hl_eligcri_box{margin:auto; width:970px; margin-top:5px; }
.sbi-hl_logo{ display:none;}
.sbi-hl_header{ display:inline;}
.line_ad{ display:inline !important; }
.responsive_ad{ display: none !important; margin-top:-50px; }
.sbi-hl_content_box_b{ float:left; width:635px;  margin-top:-180px; margin-left:0px;}
.sbi-hl_right_box_b{ float:right; background:#21405f; width:300px;  margin-right:25px; margin-top:10px;border-radius:7px 7px 7px 7px;}
.text3 {
font-family: 'Droid Sans', sans-serif;
font-size: 12px;
font-weight: 400;
font-variant: normal;
color: #909faf;
text-decoration: none;
text-transform: uppercase;
importurlhttp: //fonts.googleapis.com/css?family=Droid+Sans);
}
#title_hdfc_ltd {
width: 100%;
height: 33;
margin-top: 0px;
float: left;
font-size: 36px;
text-transform: none;
color: #88a943;
font-family: Verdana, Geneva, sans-serif;
}

/*....................styles start for lic-housing-home-loan1.php ............*/


.lic-hl_content_box_a{ float:left; width:635px;  margin-top:-320px;}
.lic-hl_content_box_b{ float:left; width:970px;  margin-top:-30px; margin-left:0px;}
.lic-hl_hide-form{display:inline;}

.pl_sbi_wrapper{ display:inherit;}

/*....................styles start for lic-housing-home-loan1.php............*/




@media screen and (max-width:680px) {
.sbi-hl_header{display:none;}
	.sbi-hl_logo{ float:left; width:243px; display:inline;}
.sbi-hl_wraper_box{ margin:auto; width:300px;}
.sbi-hl_content_box_a{ width:300px; margin-left:2px; margin-top:0px; }

.sbi-hl_right_box{ width:300px;   margin-top:10px;
}
.sbi-hl_right_box_b{ background:#21405f; width:300px; margin:5px 0px 0px 0px;
border-radius:7px 7px 7px 7px;}
.sbi-hl_eligcri_box{margin:auto; width:300px; margin-top:5px; }
.sbi-hl_left_box{ float:left; width:300px;   margin-top:10px;}
.line_ad{ display: none !important; }
.responsive_ad{ display:inline !important; padding-top:15px; text-align:center; }
.sbi-hl_content_box_b{ float:left; width:300px;  margin-top:10px; margin-left:0px;}
/*....................media start for lic-housing-home-loan1.php ............*/
.lic-hl_content_box_a{ float:left; width:300px;  margin-top:0px;}
.lic-hl_content_box_b{ float:left; width:300px;  margin-top:0px; margin-left:0px;}
.lic-hl_hide-form{display:none !important;}
/*....................styles start for lic-housing-home-loan1.php............*/
.sbi-hl_headin_title{ font-size:22px; border-bottom:thin solid #88a943; font-family:Verdana, Geneva, sans-serif; color:#88a943; margin-top:10px;}
.pl_sbi_wrapper{ display:none;}
}