.sbi-hl_wraper_box{ margin:auto; width:970px;}
.sbi-hl_left_box{ float:left; width:635px;   margin-top:10px;}
.sbi-hl_content_box_a{ float:left; width:635px;  margin-top:-380px; margin-left:20px;}
.sbi-hl_right_box{ float:right; width:300px;  margin-right:25px; margin-top:10px;
border-radius:7px 7px 7px 7px;}
.sbi-hl_headin_title{ width:100%;  border-bottom:thin solid #88a943;  font-size:35px; font-family:Verdana, Geneva, sans-serif; color:#88a943;}
.sbi-hl_eligcri_box{margin:auto; width:970px; margin-top:5px; }
.sbi-hl_logo{ display:none;}
.sbi-hl_header{ display:inline;}
.line_ad{ display:inline !important; }
.responsive_ad{ display: none !important; margin-top:-50px; }
@media screen and (max-width:680px) {
.sbi-hl_header{display:none;}
	.sbi-hl_logo{ float:left; width:243px; display:inline;}
.sbi-hl_wraper_box{ margin:auto; width:300px;}
.sbi-hl_content_box_a{ width:300px; margin-left:2px; margin-top:0px; }

.sbi-hl_right_box{ width:300px;   margin-top:10px;
}
.sbi-hl_eligcri_box{margin:auto; width:300px; margin-top:5px; }
.sbi-hl_left_box{ float:left; width:300px;   margin-top:10px;}
.line_ad{ display: none !important; }
.responsive_ad{ display:inline !important; padding-top:15px; text-align:center; }
}