.boxmagic-main-wrapper{width:310px; margin:auto;}
.boxmagic-main{ width:310px; float:left; border:#CCCCCC thin solid; margin-right:3px; margin-bottom:5px; background-color:#FFFFFF;}
.textmag-head{ font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#0066cc; text-indent:5px; font-weight:bold; background-color:#CCCCCC;} 
.price-text{ color:#c3262d; font-size:12px; font-family:Verdana, Geneva, sans-serif; font-weight:bold;}
.textmagbody{ font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#333;}
.buttonmag{ font-family:Verdana, Geneva, sans-serif; text-align:center; color:#FFF; font-size:12px; background:#F60; border:none; width:137px; height:29px; border:#b04b1f solid thin;}
.wrapper_contined_second{width:995px; margin:auto;}
.textcontineshead{font-family:Arial, Helvetica, sans-serif; font-size:21px; color:#72942b; font-weight:bold; text-align:center;}
.radish_color{ color:#c20303; font-size:17px; font-weight:normal;}
.continue_left_box{float:left; width:720px; margin-top:5px; text-align:left;}
.tdcontined{ background:url(images/tdcontined.jpg) repeat-x; height:26px; border:#CCC thin solid; color:#203f5f; font-size:12px; text-align:center; font-family:Verdana, Geneva, sans-serif;}
.celltext{thin solid color:#203f5f; font-size:12px; text-align:center; font-family:Verdana, Geneva, sans-serif;}
.right_continued{float:right; width:260px; margin-top:5px;}
.right_continuedinn{width:260px; float:left;}
.right_continuedinnhead{width:250px; padding:5px 0px 5px 5px; background:#f6f4eb; border-bottom:#dddddd solid thin; font-family:Verdana, Geneva, sans-serif; font-size:13px; font-weight:bold; color:#0964c1;}
.right_continuedinnbelow{width:100%; padding:10px 0px 10px 5px; background:#def2fd; border-bottom:#dddddd solid thin; font-family:Verdana, Geneva, sans-serif; font-size:12px;}
.righttexbx{font-family: Verdana, Geneva, sans-serif; font-size:14px; color:#b1420c; font-weight:bold;}
.buttonmag {font-family: Verdana, Geneva, sans-serif;text-align:center; color:#FFF; font-size:12px; background:#F60;
border:none; width:137px; height:29px; border:#b04b1f solid thin;}
.right_continuedinnsecond{width:260px; float:left; margin-top:10px; margin-right:25px;}
.right_continuedinnhead{width:100%; padding:5px 0px 5px 5px; background:#f6f4eb; border-bottom:#dddddd solid thin; font-family: Verdana, Geneva, sans-serif; font-size:13px; font-weight:bold; color:#0964c1;}

.right_continuedinnsecond_new{width:330px; float:left; margin-top:10px; margin-right:25px;}
@media screen and (max-width:768px) {
.boxmagic-main-wrapper{width:600px; margin:auto;}
.boxmagic-main{width:100%; float:none; border:#CCCCCC thin solid; margin-right:3px; margin-bottom:5px;}
.textmag-head{font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#0066cc; text-indent:5px; font-weight:bold;}
.price-text{color:#c3262d; font-size:14px; font-family:Verdana, Geneva, sans-serif; font-weight:bold;}
.textmagbody{font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#333;}
.buttonmag{font-family:Verdana, Geneva, sans-serif; text-align:center; color:#FFF; font-size:14px; background:#F60; border:none; width:137px; height:29px; border:#b04b1f solid thin;}}