@charset "utf-8";
/* CSS Document */

body{ padding:0px 0px 0px 0px; padding:0px 0px 0px 0px; background:#187abe url(images/homeloan-landing-page-bg.jpg) no-repeat; background-size:100%; font-family:Verdana, Geneva, sans-serif;}
.second_container_box{ width:990px; background:url(images/container-first-bg.png) repeat; border-radius:7px;
margin:auto;  padding:10px 5px 30px 5px; background-size:100% 100%;}
.logo{ width:152px; margin-top:15px; margin-bottom:15px;}
.main_container{ margin:auto; width:1000px;}
.form_box{ float:left; width:540px; padding:5px; background:url(images/form-box_bg-trans.png) repeat; border-radius:7px;}
.text_a{ font-family: Verdana, Geneva, sans-serif; font-size:15px; color:#e36203; font-weight:bold; }
.text_b{ font-family: Verdana, Geneva, sans-serif; font-size:12px; color:#e36203;}
.text_c{ font-family: Verdana, Geneva, sans-serif; font-size:20px; color:#187abe;}
.form_body_text{ color:#187abe; font-family:Verdana, Geneva, sans-serif; font-size:13px;}
.input{ width:345px; height:30px; background:#dfedf6; border:thin solid #b6d8ed; border-radius:7px; margin-top:10px; color:#187abe;}
.mobile {width:94%; height:29px; border:thin solid #b6d8ed; background:#dfedf6; border-radius:7px;}
.mobo{ width:307px; height:30px; background:#dfedf6; border:thin solid #b6d8ed; border-radius:7px; margin-top:10px; color:#187abe;}
.select{ width:345px; height:32px; background:#dfedf6; border:thin solid #b6d8ed; padding:5px; border-radius:7px; margin-top:10px; color:#187abe;}
.right_box{ float:right; width:412px; margin-right:19px;}
.table_text{ font-family:Verdana, Geneva, sans-serif;font-size:11px; color:#FFF;}
.table_text_b{ font-family:Verdana, Geneva, sans-serif;font-size:11px; color:#146191;}
.row_a{ width:411px;}
.margin_top{ margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; border-bottom:#dfedf6 thin solid; padding-bottom:5px; text-align:left;}
.list_text_head{ font-family:Arial, Helvetica, sans-serif; font-size:21px; color:#146191;}
.right_box_text ul{ font-family:Verdana, Geneva, sans-serif; color:#272626; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}
.right_box_text li{ margin-left:22px; font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#272626; list-style:url(images/home-loan-green-tick.png); font-weight:normal; margin-top:8px;}
.bottom_box{ background:#FFF; border-radius:7px;
margin:auto;  padding:10px 10px 30px 10px; margin:auto;}
.margin_2{ margin-top:10px;}
.bottom_left{ float:left; width:542px; font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#0c0c0c;}
.bottom_right{ float:right; width:305px; font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#0c0c0c;}
.scrolling_box{ width:99%; margin:auto;}
.leave{ font-size:12px;}
.scrolling_box_main_wrapper{ float:left; width:650px; font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#0c0c0c;}
* { margin: 0; padding: 0; }

#page-wrap { width: 440px; margin: 80px auto; }
h1 { font: bold 40px Sans-Serif; margin: 0 0 20px 0; }


/* Specific to example two */

.hide { position: absolute; top: -9999px; left: -9999px; }
.tab_hide{ float:left; display:none;}
.tab_hide_b{ float:left; display: inline;}
#example-two .list-wrap { background:#FFF; padding:15px 1px 1px 1px;}

#example-two ul { list-style: none;}
#example-two ul li a { display: block; border-bottom: 1px solid #666; padding: 4px; margin-right:5px; color: #666; }
#example-two ul li a:hover { background: #333; color:white;}
#example-two ul li:last-child a {border:none;}

#example-two .nav { overflow: hidden; border-bottom:thick #75aa0d solid; }
#example-two .nav li { float: left; margin-left:0px; font:Verdana, Geneva, sans-serif; font-size:16px;}



#example-two .nav li.last { margin-right: 0; }
#example-two .nav li a { display: block;  background:#75aa0d  url(../images/green-bg-arrow.jpg) right no-repeat  !important; font-family:Verdana, Geneva, sans-serif; font-size:14px; text-decoration:none; color:#FFF; text-align:center; border: 0; padding:10px 30px 10px 10px; }

#example-two li a.current,#example-two li a.current:hover { background:#75aa0d url(../images/green-bg-arrow.jpg) right no-repeat  !important; margin-right:5px; color:white; font-family:Verdana, Geneva, sans-serif; font-size:14px; text-decoration:none;  padding:10px 30px 10px 10px;}
#example-two .nav li a:hover, #example-two .nav li a:focus { background:#ee7232 url(../images/green-bg-arrow.jpg) right no-repeat ; padding:10px 30px 10px 10px; font-family:Verdana, Geneva, sans-serif;}
.menuli_box1{ float:left; visibility:visible;}
.menuli_box2{ float:left; visibility:visible;}

.list-wrap-new { display:block;
background: #07a1bd;
padding: 5px;}
.list-wrap-new2 {
background: #07a1bd;
padding: 5px; visibility: hidden !important;}
.box1_form{width:98%; display:none;}
.box1_form2{width:98%; display:inline;}
.menu_box-new1{}
.menu_box-new2{}
.box1_form3{width:98%; display:none;}
.box1_form4{width:98%; display:none;}
.toll-free{float:right; width:197px; color:#010101; font-family:Arial, Helvetica, sans-serif; font-size:16px; margin-top:5px; text-align:center;}
.number_text{color:#0a8bd9; font-size:20px;}
#fillform{display: block;}
@media screen and (max-width:880px){ 

#leavenumber{
	display: block;
}

.scrolling_box_main_wrapper{ width:100%; font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#0c0c0c;}
body{ padding:0px 0px 0px 0px; padding:0px 0px 0px 0px; background:#187abe;}
.second_container_box{ width:100%; background:url(images/container-first-bg.png) repeat; border-radius:7px;
margin:auto;  padding:10px 10px 30px 10px; background-size:100% 100%;}
.logo{ width:100%; margin-top:15px; margin-bottom:15px;}
.main_container{ margin:auto; width:100%;}
.form_box{ width:100%; padding:5px; background:url(images/form-box_bg-trans.png) repeat; border-radius:7px;}
.text_a{ font-family: Verdana, Geneva, sans-serif; font-size:13px; color:#e36203; font-weight:bold;}
.text_b{ font-family: Verdana, Geneva, sans-serif; font-size:12px; color:#e36203;}
.text_c{ font-family: Verdana, Geneva, sans-serif; font-size:20px; color:#187abe;}
.form_body_text{ color:#187abe; font-family:Verdana, Geneva, sans-serif; font-size:12px;}
.input{ width:95%; height:30px; background:#dfedf6; border:thin solid #b6d8ed; border-radius:7px; margin-top:10px; color:#187abe;}
.mobo{ width:95%; height:30px; background:#dfedf6; border:thin solid #b6d8ed; border-radius:7px; margin-top:10px; color:#187abe;}

.select{ width:95%; height:32px; background:#dfedf6; border:thin solid #b6d8ed; padding:5px; border-radius:7px; margin-top:10px; color:#187abe;}
.right_box{width:100%;}
.table_text{ font-family:Verdana, Geneva, sans-serif;font-size:11px; color:#FFF;}
.table_text_b{ font-family:Verdana, Geneva, sans-serif;font-size:11px; color:#146191;}
.row_a{ width:100%;}
.margin_top{ margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; border-bottom:#dfedf6 thin solid; padding-bottom:5px;}
.list_text_head{ font-family:Arial, Helvetica, sans-serif; font-size:21px; color:#146191;}
.right_box_text ul{ font-family:Verdana, Geneva, sans-serif; color:#272626; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}
.right_box_text li{ margin-left:22px; font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#272626; list-style:url(images/home-loan-green-tick.png); font-weight:normal; margin-top:8px;}
.bottom_box{ background:#FFF; border-radius:7px;
margin:auto;  padding:10px 10px 30px 10px; margin:auto;}
.margin_2{ margin-top:10px;}
.bottom_left{ width:100%; font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#0c0c0c;}
.bottom_right{width:100%; font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#0c0c0c;}
.tab_hide{ float:left; display: inline;}
.tab_hide_b{ float:left; display:none;}
#example-two .list-wrap { background:#FFF; padding:5px;  }
}
