@charset "utf-8";
/* CSS Document */
.hide-top{ display:block;}
.logo{ display:none;}
.pl-bank-left{ float:left; width:660px;}
.pl-bank-left-new{ float:left; width:660px;}
.pl-bank-leftinn{ float:left;width:660px; border:1px solid #cccccc; padding:4px;}
.text-box{ float:left; width:316px;}
.secondwrapper-pl{ width:970px; margin:auto;}
.right-panel{ float:left; width:275px; margin-left:35px;}
.h1-text{width:60%; height:33px; margin-top:20px; float:left; clear:right; font-size:36px; text-transform:none; color:#88a943; line-height:35px;}
.rightpanel-new{ float:right; width:275px;}
.element, .faqContainer{ width:100%;}
.h1-new{width:70%; height:45px; margin-top:0px;font-size:36px; text-transform:none; color:#88a943; padding-top:4px;}
.responsive_ad{ display: none !important; margin-top:-50px; }
.inner-body-plbanks{ font-family:'Droid Sans', sans-serif; font-size:13px; color:#333333;}

@media screen and (max-width: 768px) {
.hide-top{display:none !important;}
.logo{ display:inherit; width:243px; float:left;}
.pl-bank-left{width:100%; max-width:100%;}
.pl-bank-leftinn{width:100%; max-width:100%; border:1px solid #cccccc; padding:4px;}
.secondwrapper-pl{ width:100%; margin:auto;}
.right-panel{width:275px; margin:auto; text-align:center;}
.h1-text{width:80%; height:33px; margin-top:0px; float:left; clear:right; font-size:25px; text-transform:none; color:#88a943; margin-top:15px;}
.pl-bank-left-new{ width:100%; float:none;}
.rightpanel-new{float:none; width:275px; clear:both;}
.element{ width:100%;}
.intrl_txt {width:100%;margin: 1px auto auto;}
.h1-new{width:100%; height:33px; margin-top:0px;font-size:20px; text-transform:none; color:#88a943; margin-top:10px;}
.responsive_ad{ display:inline !important; padding-top:15px; text-align:center; width:300px; background-color:#FF0000; }
}
