.glowingtabs{
	margin:0px auto;
	padding-top:6px;
	width:960px;
}

.glowingtabs ul{
	float:left;
	list-style-type: none;
	margin:0px;
	padding:0px;
}


.glowingtabs li{
	display:inline;
	margin:0px;
	padding:0px;
}

.glowingtabs a{
	float:left;
	margin:0px;
	padding:0px;
	text-decoration:none;
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv_d{
	position:absolute;
	border: 1px solid #fefae3; /*THEME CHANGE HERE*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	text-indent:4px;
	line-height:16px;
	z-index:100;
	background-color: #f7e79d;
	width: 100px;
	visibility: hidden;
}


.dropmenudiv_d a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	display: block;
	text-indent:4px;
	border-bottom: 1px solid #fefae3;
	padding: 2px 0px;
	text-decoration: none;
	color: #100e09;
}

.dropmenudiv_d a:hover{ /*THEME CHANGE HERE*/
	background-color: #fefae3;
	color:#800c0c;
	font-weight:bold;

}

* html .dropmenudiv_d a{ /*IE only hack*/
width: 100%;

}


