caption,
th,
td {
    text-align: right;
}

li > ul,
li > ol {
    margin: 0 10px 0 0;
}

blockquote {
    padding: 30px 45px 20px 30px;
}

blockquote p {
    padding-right: 15px;
}

blockquote p:before {
    right: -27px;
}

blockquote cite {
    float: left;
}

input.s {
    padding: 4px 10px 4px 54px;
}

input.s:focus {
    padding-right: 10px;
}

#search-form input[type=\"submit\"]{margin-right:-8px;}
 .home-icon {
    float: right;
}

.main-navigation li {
    float: right;
}

.main-navigation li.menu-item-has-children > a:after,
.main-navigation li li.menu-item-has-children > a:after,
.main-navigation li.page_item_has_children > a:after,
.main-navigation li li.page_item_has_children > a:after {
    padding-right: 6px;
}

.main-navigation li li.menu-item-has-children > a:after,
.main-navigation li li.page_item_has_children > a:after {
    left: 8px;
}

.main-navigation ul li ul li a,
.main-navigation ul li.current-menu-item ul li a,
.main-navigation ul li ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor ul li a,
.main-navigation ul li.current-menu-ancestor ul li a,
.main-navigation ul li.current_page_item ul li a {
    text-align: right;
}

.main-navigation ul li ul li ul {
    right: 200px;
}

.main-small-navigation ul ul a {
    padding-right: 45px;
}

.main-small-navigation ul ul ul a {
    padding-right: 90px;
}

.alignleft {
    float: right;
    margin-left: 30px;
}

.alignright {
    float: left;
    margin-right: 30px;
}

.aligncenter {
    margin-right: auto;
    margin-left: auto;
}

.gallery .gallery-item {
    float: right;
}

.fa.search-top {
    left: 44px;
    right: auto;
}

.search-wrap button {
    margin-right: -5px;
    margin-left: 0px;
}

.search-form-top {
    left: 0;
    right: auto;
}

.not-found .search-wrap button {
    left: 175px;
}

#secondary .search-wrap button {
    left: 26px;
}

.breaking-news-latest {
    float: right;
}

.breaking-news-main {
    float: right;
}

.date-in-header {
    float: none;
    padding-left: 15px;
}

.newsticker {
    padding-right: 5px;
}

.social-links {
    text-align: left;
}

.random-post {
    left: 0;
    right: auto;
}

.widget_slider_area {
    float: right;
}

.widget_beside_slider {
    float: left;
}

.widget_featured_posts .article-content .below-entry-meta .posted-on,
.widget_featured_posts .article-content .below-entry-meta .byline {
    padding-left: 10px;
}

.widget_featured_posts .article-content .below-entry-meta .posted-on .fa {
    padding-left: 3px;
}

.widget_featured_posts .article-content .below-entry-meta .byline .fa,
.widget_featured_posts .article-content .below-entry-meta .comments .fa {
    padding-left: 5px;
}

.widget_featured_posts .first-post {
    float: right;
}

.widget_featured_posts .following-post {
    float: left;
}

.widget_featured_posts .following-post figure {
    float: right;
    margin-left: 10px;
}

.widget_featured_slider .slide-content {
    padding-right: 5%;
    padding-left: 0;
}

.widget_featured_slider .slide-content .below-entry-meta .posted-on,
.widget_featured_slider .slide-content .below-entry-meta .byline {
    padding-left: 10px;
}

.widget_featured_slider .slide-content .below-entry-meta .posted-on .fa {
    padding-left: 3px;
}

.widget_featured_slider .slide-content .below-entry-meta .byline .fa,
.widget_featured_slider .slide-content .below-entry-meta .comments .fa {
    padding-left: 5px;
}

.widget_highlighted_posts .single-article {
    float: right;
    margin-left: 2%;
    margin-right: 0;
}

.widget_highlighted_posts .single-article:nth-child(even) {
    margin-left: 0;
}

.widget_highlighted_posts .article-content {
    padding-right: 5%;
    padding-left: 0;
}

.widget_highlighted_posts .article-content .below-entry-meta .posted-on,
.widget_highlighted_posts .article-content .below-entry-meta .byline {
    padding-left: 10px;
}

.widget_highlighted_posts .article-content .below-entry-meta .posted-on .fa {
    padding-left: 3px;
}

.widget_highlighted_posts .article-content .below-entry-meta .byline .fa,
.widget_highlighted_posts .article-content .below-entry-meta .comments .fa {
    padding-left: 5px;
}

.widget_block_picture_news.widget_highlighted_posts .single-article {
    margin-left: 0;
}

.widget_block_picture_news.widget_highlighted_posts .single-article:nth-child(even) {
    float: left;
}

.slide-prev {
    margin-right: 20px;
}

.slide-next {
    left: 0;
    margin-left: 20px;
}

.slide-content {
    text-align: right;
}

.category-slide-prev {
    left: 0;
    margin-left: 50px;
    margin-right: 0;
    right: auto;
}

.category-slide-next {
    left: 0;
    margin-left: 20px;
    margin-right: 0;
    right: auto;
}

.bx-next,
.bx-prev {
    transform: rotate(180deg);
    display: block;
}

.widget_default_news_colormag.widget_featured_posts img {
    float: right;
    margin-left: 20px;
}

.tabbed-widget .tabbed-images {
    float: right;
}

.tabbed-widget img {
    margin-left: 10px;
}

.tabbed-widget ul li {
    float: right;
}

.tabbed-widget ul li i {
    margin-left: 5px;
}

.random-posts-widget .random-images {
    float: right;
}

.random-posts-widget img {
    margin-left: 10px;
}

.widget_slider_news_colormag .article-content {
    padding-right: 5%;
}

#breaking-news-widget .tabbed-images {
    float: right;
    padding-left: 10px;
}

.advertisement_below_post_title {
    float: right;
    margin-left: 10px;
}

#secondary .widget ul ul,
#colophon .widget ul ul {
    padding-right: 10px;
}

#content .wp-pagenavi a,
#content .wp-pagenavi span {
    margin-right: 5px;
}

#content .wp-pagenavi span.pages {
    margin-right: 0;
}

#header-left-section {
    float: right;
}

#header-logo-image {
    float: right;
    padding-left: 20px;
}

#header-text {
    float: right;
    padding-left: 20px;
}

#header-right-section {
    float: left;
}

#header-right-section .widget {
    text-align: left;
}

.header_display_type_one #header-left-section {
    float: left;
}

.header_display_type_one #header-right-section {
    float: right;
}

.header_display_type_one #header-text {
    padding-right: 20px;
    padding-left: 0;
}

.header_display_type_one #header-logo-image {
    padding-left: 0;
}

.header_display_type_one #header-right-section .widget {
    text-align: right;
}

.header_display_type_two #header-logo-image {
    padding-left: 0;
}

.header_display_type_two #header-text {
    padding-left: 0;
}

#primary {
    float: right;
}

#secondary {
    float: left;
}

.left-sidebar #primary {
    float: left;
}

.left-sidebar #secondary {
    float: right;
}

.tg-one-half {
    float: right;
    margin: 0 0 0 2.631579%;
}

.tg-one-half-last {
    float: left;
    margin: 0;
}

.tg-one-third {
    float: right;
    margin: 0 0 0 2.631579%;
}

.tg-one-third-last {
    float: left;
    margin-left: 0;
}

.tg-one-fourth {
    float: right;
    margin: 0 0 0 2.46305419%;
}

.archive #content .post:nth-child(2n+1) {
    float: left;
}

.archive #content .post:nth-child(2n) {
    float: right;
}

#content .post .article-content .below-entry-meta .posted-on,
#content .post .article-content .below-entry-meta .byline,
#content .post .article-content .below-entry-meta .comments,
#content .post .article-content .below-entry-meta .tag-links {
    padding-left: 10px;
}

#content .post .article-content .below-entry-meta .posted-on .fa {
    padding-left: 3px;
}

#content .post .article-content .below-entry-meta .byline .fa,
#content .post .article-content .below-entry-meta .comments .fa,
#content .post .article-content .below-entry-meta .tag-links .fa,
#content .post .article-content .below-entry-meta .edit-link .fa {
    padding-left: 5px;
}

.entry-content ul,
.entry-content ol {
    padding: 0 35px 0 0;
}

.entry-meta .byline i,
.entry-meta .cat-links i {
    padding-right: 5px;
    padding-left: 5px;
}

.entry-meta .byline {
    margin-left: 25px;
}

.entry-meta .sep {
    margin: 10px 0 10px 0;
}

.entry-meta .post-format {
    left: -64px;
}

.entry-meta .post-format i {
    padding: 12px 8px 8px 8px;
}

.entry-meta .posted-on,
.entry-meta .comments-link,
.entry-meta .edit-link,
.entry-meta .tag-links {
    margin-left: 25px;
}

.entry-meta .posted-on i,
.entry-meta .comments-link i,
.entry-meta .edit-link i,
.entry-meta .tag-links i {
    padding-left: 5px;
    padding-right: 5px;
}

.blog .post:nth-child(2n) {
    float: right;
}

.blog .post:nth-child(2n+1) {
    float: left;
}

.blog .post .article-content .below-entry-meta .edit-link .fa,
.blog .post .article-content .below-entry-meta .tag-links .fa {
    padding-left: 5px;
}

.blog .post .article-content .below-entry-meta .tag-links {
    padding-left: 10px;
}

#content .post .article-content .below-entry-meta .post-views {
    padding-left: 10px;
}

#content .post .article-content .below-entry-meta .post-views .fa {
    padding-left: 5px;
}

.search .post:nth-child(2n) {
    float: right;
}

.search .post:nth-child(2n+1) {
    float: left;
}

.author-img img {
    margin-left: 15px;
}

.related-posts-main-title span {
    padding-right: 10px;
}

.single-related-posts {
    margin-left: 1.25%;
    float: right;
}

.related-posts .single-related-posts:nth-child(3n+3) {
    margin-left: 0;
}

.single-related-posts .article-content .below-entry-meta .posted-on,
.single-related-posts .article-content .below-entry-meta .byline {
    padding-left: 10px;
}

.single-related-posts .article-content .below-entry-meta .posted-on .fa {
    padding-left: 3px;
}

.single-related-posts .article-content .below-entry-meta .byline .fa,
.single-related-posts .article-content .below-entry-meta .comments .fa {
    padding-left: 5px;
}

.count {
    float: left;
}

.share {
    float: right;
    margin-left: 10px;
}

#twitter,
#facebook,
#googleplus,
#pinterest {
    float: right;
    padding-left: 20px;
}

.author-social-sites .fa-twitter,
.author-social-sites .fa-facebook,
.author-social-sites .fa-google-plus,
.author-social-sites .fa-flickr,
.author-social-sites .fa-linkedin,
.author-social-sites .fa-instagram,
.author-social-sites .fa-youtube,
.author-social-sites .fa-tumblr {
    float: right;
}

.default-wp-page .previous {
    float: right;
}

.default-wp-page .next {
    float: left;
}

#comments i {
    padding-left: 10px;
}

.avatar {
    float: right;
}

.comments-area .comment-edit-link,
.comments-area .comment-permalink,
.comments-area .comment-date-time,
.comments-area .comment-author-link {
    margin-right: 100px;
}

.comments-area .comment-author-link span {
    margin-right: 10px;
}

.comments-area article header .comment-edit-link:before {
    padding-left: 10px;
}

.comment ul,
.comment ol {
    margin: 0 20px 20px 0;
}

.comment .comment-reply-link {
    float: left;
}

.comment .comment-reply-link:before {
    padding-left: 10px;
}

.comment-list .children {
    margin-right: 20px;
}

.nav-previous a {
    float: right;
}

.nav-next a {
    float: left;
}

#respond h3#reply-title #cancel-comment-reply-link {
    margin-right: 1rem;
}

.tg-footer-main-widget {
    float: right;
    margin-left: 2.63158%;
    margin-right: auto;
}

.tg-footer-other-widgets {
    float: left;
}

.tg-second-footer-widget,
.tg-third-footer-widget {
    float: right;
    margin-left: 4.54545%;
    margin-right: auto;
}

.tg-fourth-footer-widget {
    float: left;
    margin-left: 0;
}

.footer-widgets-area p {
    text-align: right;
}

.footer-socket-right-section {
    float: left;
    text-align: left;
}

.footer-socket-left-section {
    float: right;
}

.footer-socket-wrapper .copyright {
    float: right;
}

.footer-menu ul li {
    padding-right: 10px;
}

.bx-wrapper {
    direction: ltr;
}

a#scroll-up {
    left: 20px;
    right: auto;
}

.posted-on .fa.fa-calendar-o {
    display: inline;
}

.footer-socket-left-sectoin {
    float: right;
}

@media (min-width:601px) and (max-width:800px) {
    .date-in-header {
        padding-left: 0;
    }
}

@media screen and (max-width:800px) {
    #header-logo-image,
    .header_display_type_one #header-logo-image {
        padding-left: 0;
    }
    #header-text,
    .header_display_type_one #header-text {
        padding-left: 0;
    }
    .social-links {
    text-align: center;
}
    .breaking-news-latest {
        float: none;
    }
    #header-logo-image {
        float: none;
        padding-left: 20px;
    }
    #header-left-section {
        float: none;
    }
    .footer-socket-right-section {
        float: none;
        text-align: left;
    }
    .footer-menu {
        text-align: center;
    }
    .footer-socket-wrapper .copyright {
        display: inline-block;
        float: none;
        text-align: center;
    }
    .footer-socket-right-section {
        float: none;
        text-align: left;
    }
    .footer-socket-left-sectoin {
        display: inline-block;
        float: none;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .menu-toggle {
        float: right;
    }
    .sub-toggle {
        left: 15px;
    }
}

@media screen and (max-width:600px) {
    .newsticker li {
        text-align: right;
    }
    .tg-footer-main-widget {
        margin-left: 0;
    }
}

@media screen and (max-width:420px) {
    .tg-second-footer-widget,
    .tg-third-footer-widget,
    .tg-fourth-footer-widget {
        margin-left: 0;
    }
    .single-related-posts {
        margin-left: 0;
    }
    .footer-menu {
        text-align: center;
    }
}

@media screen and (max-width:380px) {
    .widget_highlighted_posts .single-article {
        margin-left: 0;
    }
}
