body{
	margin:0px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#053646;
	font-weight:bold;
}

input{
	border:1px solid #13637E;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
	font-weight:normal;
	margin:0px 0px 6px 0px;
	padding:2px;

}

select{

	border:1px solid #13637E;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
	font-weight:normal;
	margin:0px 0px 6px 0px;
	padding:2px;
}



#formtext-hlt{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#052F0A;
	text-align:left;
	font-weight:bold;
	text-decoration:none;
}
#hdng-txt{
font-size:15px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
color:#FFFFFF;
padding-top:9px;
padding-left:57px;
}
#sbhdng-txt{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#FFFFFF;
margin:0px;
padding:9px 0px 0px 17px;
line-height:24px;
}

#txt{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#05394A;
text-decoration:none;
line-height:18px;
padding-left:3px;
}
#txt b{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#05394A;
text-decoration:none;
line-height:18px;
padding:5px;
}

#txt-brdr{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#05394A;
text-decoration:none;
line-height:18px;
padding:4px 0px 0px 22px;
border:1px solid #1290BB;}

#form-brdr{
border-left:1px solid #1290BB;
border-right:1px solid #1290BB;
background-color:#E5F3F8;

}

#panel{
background-image:url(../images/cc/crdt-panel.gif);
background-repeat:no-repeat;
background-position:left;
width:318px;
height:21px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
padding-left:45px;
vertical-align:middle;
text-decoration:none;
}
#panel-bot{
background-image:url(../images/cc/crdt-crd-bot-panel.gif);
background-repeat:no-repeat;
background-position:left;
width:133px;
height:22px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-align:center;
color:#FFFFFF;
float:right;
vertical-align:middle;
text-decoration:none;
}


#form-l-cor{background-image:url(../images/cc/crdt-frm-lft-bt.gif); background-repeat:no-repeat; width:20px; height:18px;float:left; }
#form-r-cor{background-image:url(../images/cc/crdt-frm-rgt-bt.gif); background-repeat:no-repeat; float:right; width:20px; height:18px;}
#form-mid-b{background-image:url(../images/cc/crdt-frm-bt-bg.gif); background-repeat:repeat-x; float:left; width:287px; height:18px;}


#form-top-lft{ background-image:url(../images/cc/crdt-frm-top-lft.gif); background-repeat:no-repeat; width:56px; height:64px; float:left; }
#form-top-rgt{background-image:url(../images/cc/crdt-frm-top-rgt.gif); background-repeat:no-repeat; float:right; width:56px; height:64px;}
#form-top-bg{background-image:url(../images/cc/crdt-frm-top-bg.gif); background-repeat:repeat-x; float:left; width:215px; height:64px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#FFFFFF; text-align:center;vertical-align:top; text-decoration:none;}

#formheight{
\height: 12px; 
 h\eight: auto; /* for IE6 in standards mode */
}

/*#form{background-color:#FFFFFF; border-left:1px solid #1290BB; border-right:1px solid #5597DC; float:right; height:278px;  }*/