#marutibgColor  {background-color:  #623dbe; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#toyotabgColor {background-color:  #297aee; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#volkswagenbgColor {background:#b01a40; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#hondabgColor {background:#009118; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#mahindrabgColor  {background:#459fa7; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#skodabgColor {background:#623dbe; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#bmwbgColor {background:#db891d; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#tatabgColor {background:#2e87ef; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#fordbgColor {background:#043361; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#porschebgColor {background:#93af4e; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#hyundaibgColor {background:#db562e; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#mercedesbgColor {background:#d54b28; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#chevroletbgColor {background:#5da81a; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#nissanbgColor {background:#06a7b1; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;} 
#fiatbgColor {background:#87a63b; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#jaguarbgColor {background:#1e7983; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#audibgColor {background:#895bb1; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#forcebgColor {background:#5da81a; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#hindustan-motorsbgColor {background:#a9b21b; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#land-roverbgColor {background:#d25944; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#renaultbgColor {background:#651757; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#premierbgColor {background:#459fa7; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#mitsubishibgColor {background:#db891d; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}
#volvobgColor {background:#5aaab1; border-radius:8px 8px 8px 8px; padding:5px 5px 5px 5px;}