/* CSS Document */
.toplinks:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#8C8C8C;
padding-bottom:6px;
text-decoration:none;}

.toplinks
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#8C8C8C;
padding-bottom:6px;
text-decoration:none;}

.toplinks:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#8C8C8C;
padding-bottom:6px;
text-decoration:none;}

.toplinks:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#8C8C8C;
padding-bottom:6px;
text-decoration:none;}

.bluelink
{
font-family:Arial, Helvetica, sans-serif;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#0970D9;
}

.bluelink A {
  color: #0970D9;
  text-decoration:none;
}

.bluelink A:hover {
  color: #06529F;
  text-decoration:none;
}

.menulink:link
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	letter-spacing: -0.04em;
	line-height:12px;

	
}

.menulink:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
letter-spacing: -0.04em;
line-height:12px;
}

.menulink:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
letter-spacing: -0.04em;
line-height:12px;
}

.menulink:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
letter-spacing: -0.04em;
line-height:12px;

}

.work

{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#ffffff;}

.verdana10
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#015EBE;
padding-left:5px;
padding-top:5px;
}

.formfield
{
width:96px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
margin-top:4px;
}

.border
{
border:1px solid #999999;
}

.leftlink:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
color:#529BE4;
text-decoration:none;
}

.leftlink:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
color:#529BE4;
text-decoration:none;
}

.leftlink:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
color:#529BE4;
text-decoration:none;
}

.leftlink:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:11px;
color:#529BE4;
text-decoration:none;
}

.bottomlinks
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#015EBE;
padding-left:5px;
padding-right:5px;
}

.bottomlinks A {
  color: #015EBE;
  text-decoration:none;
}

.bottomlinks A:hover {
  color: #015EBE;
  text-decoration:none;
}

.whiteline
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#FFFFFF;}
.blueborder {
	border: 1px solid #529BE4;
}

.form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	border: 1px solid #999999;
}
.head1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #529BE4;
}
.bluebutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #529BE4;
	border: 1px solid #529BE4;
	font-weight: bold;
}
.bodyarial11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
.bodyarialnew {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.head2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1A5EA2;
	text-decoration: none;
	font-weight: bold;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}


/**_________Generic________**/
body		{font:12px Arial; color:#000000; margin:0; background-color:#FFFFFF}
td		{font:12px Arial}
a:link		{color:#003C92}
a:hover		{color:#FF3300; text-decoration:none}
a:visited		{color:#3874CA}
ul, ol		{margin:0 0 0 25; padding:0}
li		{font:bold 12px Arial; margin:1 0 1 0}
li a		{text-decoration:none;}
li a:hover		{color:#FF3300; text-decoration:none}

/**_________Common________**/
.Brdr		{background-color:#CECECE}
.Dots1		{background-color:#979584; }
.Dots2		{background-color:#979584; }

/**_________Text________**/
.Date		{color:#949694}
Div#divTxt	{font:12px Verdana; padding:10px; margin:2px; border: 1px dotted #CECECE;}

/**_________Forms________**/
form		{margin:0}
input, textarea {font:12px Arial; padding:2px; margin:2px; border: 1px solid #CECECE;}
input.NoBrdr	{font:12px Arial; padding:0px; margin:0px; border: 0px}
input#grad	{border:1px solid #000000; background-image:url('../images/bgGreyGrad.gif'); font-style:normal; font-variant:normal; font-weight:normal; font-size:10px; font-family:Arial}
table#frm #Title	{font:bold 14px Verdana; border:1px dotted #9C9A9C; background-color:#FFFFCC;}
table#frm td	{font: bold 10px Verdana;}
table#frm #Alert	{font:bold 12px Arial; color:#FF0000; text-align:center}

/**_________Data Grids________**/
table caption	{font:bold 12px Arial; color:#FF0000; text-align:left}
table#Grid	{font:10px Arial; background-color:#FFFFFF;}
table#Grid #r	{text-align:right}
table#Grid #c	{text-align:center}
table#Grid #HD	{color:#FFFFFF; background-color:#70A5DA}
table#Grid #HD td	{font-weight:bold; text-align:center}
table#Grid #row1	{background-color:#EFEFEF}
table#Grid #row2	{background-color:#FFFFFF}

/**_________Headings________**/
H1		{font:20px Arial; color:#FF0000; letter-spacing:4pt; margin-top:10px;}
H2		{font:italic bold 20px Book Antiqua; margin-left:10px}
H2 a		{text-decoration:none}
H3		{font:bold 12px Arial; letter-spacing:4pt; color:black;}
H6		{font:10px Verdana;  margin:2; padding:2}

/**_________Boxes________**/
.Box1		{width:70%; text-align:left; margin:5; padding:10; background-color:#F1F1F1; border:1px bordercolor="#CCD2AE"}
.Box2		{width:70%; text-align:left; margin:5; padding:10; background-color:#FFFFFF;}